<div class="space Space space-component" >
  <a nbButton  class="ButtonLink button-link  size-xl-medium iconPlacement-xl-none" appearance="filled" status="success" >
    <nb-icon class="icon btn-icon" icon="star-outline"></nb-icon>
    <span>MENU</span>
  </a>
  <h5 class="Heading heading text-alignment-left text-transform-none" ngClass="text-basic">{{ text }}</h5>
  <input nbInput class="Input input  size-xl-medium" placeholder="Med ID" type="text" shape="rectangle" uiValueUpdate="updateUiInput" status="basic" [ngModel]="value">
  <button nbButton class="Button button  size-xl-medium iconPlacement-xl-none" appearance="filled" status="success">
    <nb-icon class="icon btn-icon" icon="star-outline"></nb-icon>
    <span>Submit</span>
  </button>
  <a nbButton  class="ButtonLink1 button-link1  size-xl-giant iconPlacement-xl-none" appearance="filled" status="primary" >
    <nb-icon class="icon btn-icon" icon="star-outline"></nb-icon>
    <span>New Customer</span>
  </a>
</div>